/* Color Pallette 

Light Blue: 	#93bdce;
Medium Blue:	#397c9f;
Dark Blue:		#214887;
White: 			#FFF;
Black: 			#000;

*/


/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
															/* 			Layout Styles				*/
html {
	background-image:url('../images/bg_pattern.png');
}

body {
	padding: 10px;
	margin: 0 auto;
	width: 70%;
	background-color: white;
	-moz-box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
	box-shadow: 0 0 10px 5px #000;
}

body * {
	font-family:Arial, Helvetica, sans-serif;
}
												/* Header */
header {
	float: left;
	width: 20%;	
	padding-bottom: 20px; 
}

header img {
	float: left;
	padding-left: 4%;
	width: 96%;
	
}
												/* User Titlebar */
.user_titlebar {
	float: left;
	padding: 1%;
	width: 78%;	
	height: 120px;
	font-size: 1.2em;
	text-align: right;
}

.user_titlebar input {
	width: 25%;	
}

.user_titlebar input[type="button"] {
	width: 10%;	
}

.container {
	clear: both;
}

.main_cta {
	padding: 1%;	  
	overflow: hidden;
}
												/* Comics */
.comic {
	width: 47%;
	float: left;
	padding: 1%;
	margin-top: 10px;
	margin-right: 0.5%;
	margin-left: 0.5%;	
	background: #94bdcf;
	-moz-box-shadow: 0 0 5px 2px #000;
	-webkit-box-shadow: 0 0 5px 2px #000;
	box-shadow: 0 0 5px 2px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.comic:hover {
	-webkit-animation:comic_hover 1s 2 alternate;
}

.comic img {
	float: left;
	width: 30%;
	padding-right: 5px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;	
}

h3 {
	font-family: "Futura";	
	font-size: 2em;
}

.comic h3 {
	font-family: "Futura";
	font-size: 2em;	
}	

.comic p {
	line-height: 1.1em;	
	font-size: 1.8em;
}
												/* New Products */
.new_products {
	clear: both;
	float: left;
	width: 31.33333%;
	padding: 1%;
	padding-top: 0px;
}

.new_products .content_container {
	float: left;
	width: 48%;	
	padding-right: 2%;
}

.new_products .content_container a {
	width: 99%;
	float: left;	
}

.content_container a {
	text-align: right;	
	padding-right: 1%;
	text-decoration:none;
}

.new_products img {
	width: 100%;	
}

.new_products h3 {
	font-family: Futura;
	padding-top: 20px;
	clear: both;
}	

.new_products p {
	font-size: 1.2em;	
	padding: 5px 0px;
	
}
												/* Ad Space */
.ad_space {
	float: left;
	width: 66.66666%;
	padding-top: 30px;
	padding-bottom: 10px;	 
}

.ad_space img {
	margin: 0 auto;
	width: 100%;
}
												/* Series */
.series {
	float: left;
	width: 31.33333%;
	padding: 1%; 
}

.series img {
	width: 85%;
	padding-left: 10%;
	margin: 0 auto;
}
												/* News */
.news {
	padding: 1%;
	float: left;
	width: 31.33333%;	 
}

dt {
	font: 1.6em Futura;	
	padding-bottom: 10px;
}

dd {
	padding: 5px;
	-moz-box-shadow: 0 0 5px 2px #000;
	-webkit-box-shadow: 0 0 5px 2px #000;
	box-shadow: 0 0 5px 2px #000; 	
	font-size: 1.4em;
	line-height: 1.2em;
}

												/* Footer */
footer {
	clear: both;
	padding-top: 30px;
	font-size: 1.3em;
	background: #94bdcf;
}

.publish {
	float: left;
	width: 25%;
}

.publish p {
	float: left;
	padding-left: 10%;
	padding-bottom: 5px;
	width: 90%;
}

footer .publish ul {
	list-style-type: circle;
	padding-left: 40%;	
	float: left;
	width: 60%;
}

footer .bottom_nav {
	float: left;
	width: 50%;
	text-align: center;
}

footer .contact_us {
	float: left;
	width: 25%;	
}

footer #copyright {
	clear: both;
	width: 100%;
	text-align: center;	
	font: 1.4em "Futura";
}

										/*			Navigation Styles			*/
										
nav.main {
	float: left;
	width: 80%;
	text-align: right;
}	

nav.main ul li {
	display: inline-block;
	text-align: left;
	padding: 0px 10px;
}

nav.main ul li a {
	text-decoration: none;
	color: black;
	font-size: 20px;	
	font-family: "Comic Book";
}

nav.main ul li a:hover {
	-webkit-animation:mymove 3s infinite alternate;	
}

nav.main ul li a.active {
	text-decoration: underline;	
	color: #333399;
}


														/*WEBKIT ANIMATION*/
														
														
	@-webkit-keyframes comic_hover
	{
		0% {
			border-radius: none;
			background: #FFF;
		}
		100% {
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
		    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	    	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
			background: -ms-linear-gradient(top, #3e779d, #65a9d7);
		    background: -o-linear-gradient(top, #3e779d, #65a9d7);
		}
	}
	
	
															/* Button Styles */
															
   .button {
	   border-top: 1px solid #96d1f8;
	   background: #65a9d7;
	   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	   background: -o-linear-gradient(top, #3e779d, #65a9d7);
	   -webkit-border-radius: 11px;
	   -moz-border-radius: 11px;
	   border-radius: 11px;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: #000;
	   padding-top: 2px;
	   padding-bottom: 2px;
	   font-size: 1.4em;
	   font-family: Georgia, serif;
	   text-decoration: none;
	   vertical-align: middle;
   }
   .button:hover {
	   border-top-color: #28597a;
	   background: #28597a;
	   color: #FFF;
   }
   .button:active {
	   border-top-color: #1b435e;
	   background: #1b435e;
   }
																											
															
															
															
	